<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.songjian.stock.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="tech.songjian.stock.pojo.SysPermission">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pid" column="pid" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,title,
        icon,perms,url,
        method,name,pid,
        order_num,type,status,
        create_time,update_time,deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_permission
        where  id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getAllPermission" resultType="tech.songjian.stock.pojo.SysPermission">
        SELECT
            sp.id AS id,
            sp.title AS title,
            sp.icon AS icon,
            sp.url AS path,
            sp.name AS name,
            sp.pid AS pid
        FROM
            sys_permission AS sp
    </select>
    <select id="getAllPermissions" resultType="tech.songjian.stock.pojo.SysPermission">
        SELECT
            sp.id as id,
            sp.code as code,
            sp.title as title,
            sp.icon as icon,
            sp.perms as perms,
            sp.url as url,
            sp.method as method,
            sp.name as name,
            sp.pid as pid,
            sp.order_num as orderNum,
            sp.type as type,
            sp.status as status,
            sp.create_time as createTime,
            sp.update_time as updateTime,
            sp.deleted as deleted
        FROM
            sys_permission AS sp
        WHERE
            sp.deleted = 1
    </select>
    <select id="getPermissions4Add" resultType="tech.songjian.stock.pojo.SysPermission">
        SELECT
            *
        FROM
            sys_permission AS sp
        WHERE
            sp.deleted = 1
          AND
            sp.status = 1
          AND
            sp.type IN (0, 1, 2)

    </select>
    <!--    查找顶层权限-->
    <select id="findAllPermissionlLevel1" resultType="java.util.Map">
        select id,
               title
        from sys_permission
        where pid = 0
          and deleted = 1
    </select>
    <!--    寻找子权限-->
    <select id="findAllPermissionSon" resultType="java.util.Map">
        select id,
               title
        from sys_permission
        where pid = #{id}
          and deleted = 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_permission
        where  id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="tech.songjian.stock.pojo.SysPermission" useGeneratedKeys="true">
        insert into sys_permission
        ( id,code,title
        ,icon,perms,url
        ,method,name,pid
        ,order_num,type,status
        ,create_time,update_time,deleted
        )
        values (#{id,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}
        ,#{icon,jdbcType=VARCHAR},#{perms,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR}
        ,#{method,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{pid,jdbcType=VARCHAR}
        ,#{orderNum,jdbcType=INTEGER},#{type,jdbcType=TINYINT},#{status,jdbcType=TINYINT}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{deleted,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="tech.songjian.stock.pojo.SysPermission" useGeneratedKeys="true">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="code != null">code,</if>
                <if test="title != null">title,</if>
                <if test="icon != null">icon,</if>
                <if test="perms != null">perms,</if>
                <if test="url != null">url,</if>
                <if test="method != null">method,</if>
                <if test="name != null">name,</if>
                <if test="pid != null">pid,</if>
                <if test="orderNum != null">orderNum,</if>
                <if test="type != null">type,</if>
                <if test="status != null">status,</if>
                <if test="createTime != null">createTime,</if>
                <if test="updateTime != null">updateTime,</if>
                <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=VARCHAR},</if>
                <if test="code != null">code = #{code,jdbcType=VARCHAR},</if>
                <if test="title != null">title = #{title,jdbcType=VARCHAR},</if>
                <if test="icon != null">icon = #{icon,jdbcType=VARCHAR},</if>
                <if test="perms != null">perms = #{perms,jdbcType=VARCHAR},</if>
                <if test="url != null">url = #{url,jdbcType=VARCHAR},</if>
                <if test="method != null">method = #{method,jdbcType=VARCHAR},</if>
                <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
                <if test="pid != null">pid = #{pid,jdbcType=VARCHAR},</if>
                <if test="orderNum != null">order_num = #{orderNum,jdbcType=INTEGER},</if>
                <if test="type != null">type = #{type,jdbcType=TINYINT},</if>
                <if test="status != null">status = #{status,jdbcType=TINYINT},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="deleted != null">deleted = #{deleted,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <insert id="addPermission">
        insert into sys_permission
        ( id,code,title
        ,icon,perms,url
        ,method,name,pid
        ,order_num,type,status
        ,create_time,update_time,deleted
        )
        values (#{sysPermission.id,jdbcType=VARCHAR},#{sysPermission.code,jdbcType=VARCHAR},#{sysPermission.title,jdbcType=VARCHAR}
               ,#{sysPermission.icon,jdbcType=VARCHAR},#{sysPermission.perms,jdbcType=VARCHAR},#{sysPermission.url,jdbcType=VARCHAR}
               ,#{sysPermission.method,jdbcType=VARCHAR},#{sysPermission.name,jdbcType=VARCHAR},#{sysPermission.pid,jdbcType=VARCHAR}
               ,#{sysPermission.orderNum,jdbcType=INTEGER},#{sysPermission.type,jdbcType=TINYINT},#{sysPermission.status,jdbcType=TINYINT}
               ,#{sysPermission.createTime,jdbcType=TIMESTAMP},#{sysPermission.updateTime,jdbcType=TIMESTAMP},#{sysPermission.deleted,jdbcType=TINYINT}
               )

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="tech.songjian.stock.pojo.SysPermission">
        update sys_permission
        <set>
                <if test="code != null">
                    code = #{code,jdbcType=VARCHAR},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="icon != null">
                    icon = #{icon,jdbcType=VARCHAR},
                </if>
                <if test="perms != null">
                    perms = #{perms,jdbcType=VARCHAR},
                </if>
                <if test="url != null">
                    url = #{url,jdbcType=VARCHAR},
                </if>
                <if test="method != null">
                    method = #{method,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="pid != null">
                    pid = #{pid,jdbcType=VARCHAR},
                </if>
                <if test="orderNum != null">
                    order_num = #{orderNum,jdbcType=INTEGER},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=TINYINT},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="deleted != null">
                    deleted = #{deleted,jdbcType=TINYINT},
                </if>
        </set>
        where   id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="tech.songjian.stock.pojo.SysPermission">
        update sys_permission
        set
            code =  #{code,jdbcType=VARCHAR},
            title =  #{title,jdbcType=VARCHAR},
            icon =  #{icon,jdbcType=VARCHAR},
            perms =  #{perms,jdbcType=VARCHAR},
            url =  #{url,jdbcType=VARCHAR},
            method =  #{method,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            pid =  #{pid,jdbcType=VARCHAR},
            order_num =  #{orderNum,jdbcType=INTEGER},
            type =  #{type,jdbcType=TINYINT},
            status =  #{status,jdbcType=TINYINT},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            deleted =  #{deleted,jdbcType=TINYINT}
        where   id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
