# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\139_resource\code\stock_front_admin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
